body {
  background-color: rgb(239, 236, 247);
}

.orange {
  background-color: orangered;
  width: 50%;
  height: 450px;
  margin-left: 10%;
  color: white;
}
.orangeText {
  font-size: 20px;
  width: 60%;
  margin-left: 5%;
}
.orangeText h2 {
  padding-top: 5%;
}

.cardinfo {
  /* background-color: rgb(40, 250, 134); */
  width: 80%;
  display: flex;
  margin-left: 10%;
}
.cardinfo img {
  width: 100%;
  height: 250px;
}
.cardinfo h1 {
  color: white;
  font-size: 24px;
}
.cardinfo p {
  color: white;
  font-size: 18px;
}
.cardBolimlar {
  padding: 10px;
}

.cardBolimlar > div {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.sarlavha {
  color: white !important;
  font-size: 40px !important;
  text-align: center;
}
.sarlavha1 {
  color: rgb(23, 7, 66) !important;
  font-size: 40px !important;
  text-align: center;
}
.cardnumb {
  background-color: orangered;

  width: 35%;
  border-radius: 1%;
  padding: 3%;
}
.cardnumb:hover {
  background-color: rgb(29, 35, 70);
}
.manzilmap {
  margin-left: 10%;
  width: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.xarita {
  background-color: rgb(29, 35, 70);
}
.avtobusgl {
  background-color: rgb(29, 35, 70);
}
.qabulgl {
  background-color: orangered;
}
.avtobus {
  width: 80%;
  display: flex;
  margin-left: 10%;
}
.prezident {
  width: 80%;
  display: flex;
  margin-left: 10%;
}
.avtobustext {
  padding: 10%;
  width: 50%;
  margin-top: -10%;
  background-color: orangered;
}
.avtobusimg img {
  width: 80%;
  height: 465px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 10px solid rgb(255, 30, 0);
}
.avtobusimg {
  padding-top: 4%;
  width: 50%;
  height: auto;
}
.avtobustext p {
  font-size: 23px;
  color: #ffffff;
}
.avtobustext h1 {
  color: #ffffff !important;
}
.qabul {
  width: 80%;
  display: flex;
  margin-left: 10%;
}

.qabultext {
  padding: 10%;
  width: 50%;
  /* height: 700px; */
  background-color: rgb(29, 35, 70);
  margin-top: -10%;
}
.qabulBtn button {
  background-color: rgba(248, 251, 255, 0.877);
  width: 70%;
  height: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.qabulBtn button a {
  color: rgb(29, 35, 70);
  font-size: 18px;
  font-weight: bolder;
}
.qabulBtn button:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.qabulimg img {
  width: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.qabulimg {
  width: 50%;
  padding: 5%;
  height: auto;
  padding-right: 2%;
}
.qabultext p {
  font-size: 23px;
  color: #ffffff;
}
.qabultext h2 {
  font-size: 26px;
  color: #ffffff !important;
}

.prezidenttext {
  width: 70%;
  height: 200px;
  margin-top: 5%;
  background-color: rgb(29, 35, 70);
  color: white;
  padding: 1%;
}
.prezidentimg img {
  width: 78%;
  height: 310px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  border: 10px solid rgb(29, 35, 70);
  border-radius: 50%;
  margin-top: -10%;
  margin-left: 6%;
}

.prezidenttext h2 {
  font-size: 20px;
  color: #ffffff;
  margin: 2%;
}
.prezidenttext h3 {
  color: #ffffff !important;
  font-size: 22px;
  margin-left: 65%;
}
