body {
  background-color: rgb(243, 239, 239);
}
.header {
  height: 730px;
  /* background-color: rgb(206, 201, 211); */
  background-image: url(../img/maktab2.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  text-align: center;
}
.headertxt h1 {
  background-color: rgba(19, 47, 99, 0.425);
  color: white;
  width: 100%;
  height: 730px;
  padding-top: 21%;
  font-weight: 700;
}
.orange {
  background-color: orangered;
  width: 50%;
  height: 450px;
  margin-left: 10%;
  color: white;
}
.orangeText {
  font-size: 20px;
  width: 60%;
  margin-left: 5%;
}
.orangeText h2 {
  padding-top: 5%;
}

.cardinfo {
  width: 80%;
  display: flex;
  margin-left: 10%;
}
.cardinfo img {
  width: 100%;
  height: 250px;
}
.cardinfo h1 {
  color: white;
  font-size: 24px;
  padding: 2%;
}
.cardinfo p {
  color: white;
  font-size: 18px;
}
.cardBolimlar {
  padding: 2%;
}

.cardBolimlar > div {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.sarlavha {
  color: white !important;
  font-size: 40px !important;
  text-align: center;
}
.sarlavha1 {
  color: rgb(23, 7, 66) !important;
  font-size: 40px !important;
  text-align: center;
}
.cardnumb {
  background-color: orangered;
  height: 550px;
  /* width: 35%; */
  border-radius: 1%;
  padding: 5%;
}
.cardnumb:hover {
  background-color: rgb(29, 35, 70);
}
.manzilmap {
  margin-left: 10%;
  width: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.xarita {
  background-color: rgb(29, 35, 70);
}
.avtobusgl {
  background-color: rgb(29, 35, 70);
  width: 100%;
}
.qabulgl {
  background-color: orangered;
}
.avtobus {
  width: 80%;
  display: flex;
  margin-left: 10%;
}
.prezident {
  width: 80%;
  display: flex;
  margin-left: 10%;
}
.avtobustext {
  padding: 10%;
  width: 50%;
  margin-top: -10%;
  background-color: orangered;
}
.avtobusimg img {
  width: 80%;
  height: 465px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 10px solid rgb(255, 30, 0);
}
.avtobusimg {
  padding-top: 4%;
  width: 57%;
  height: auto;
}
.avtobustext p {
  font-size: 23px;
  color: #ffffff;
}
.avtobustext h1 {
  color: #ffffff !important;
}
.qabul {
  width: 80%;
  display: flex;
  margin-left: 10%;
}

.qabultext {
  padding: 10%;
  width: 50%;
  /* height: 700px; */
  background-color: rgb(29, 35, 70);
  margin-top: -10%;
}
.qabulBtn button {
  background-color: rgba(248, 251, 255, 0.877);
  width: 70%;
  height: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.qabulBtn button a {
  color: rgb(29, 35, 70);
  font-size: 18px;
  font-weight: bolder;
}
.qabulBtn button:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.qabulimg img {
  width: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.qabulimg {
  width: 50%;
  padding: 5%;
  height: auto;
  padding-right: 2%;
}
.qabultext p {
  font-size: 23px;
  color: #ffffff;
}
.qabultext h2 {
  font-size: 26px;
  color: #ffffff !important;
}

.prezidenttext {
  width: 70%;
  height: 200px;
  margin-top: 5%;
  background-color: rgb(29, 35, 70);
  color: white;
  padding: 1%;
}
.prezidentimg img {
  width: 78%;
  height: 310px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  border: 10px solid rgb(29, 35, 70);
  border-radius: 50%;
  margin-top: -5%;
  margin-left: 6%;
}

.prezidenttext h2 {
  font-size: 20px;
  color: #ffffff;
  margin: 5%;
}
.prezidenttext h3 {
  color: orangered !important;
  font-size: 22px;
  margin-left: 65%;
  margin-top: -3%;
}
.cardalochilar {
  width: 80%;
  margin-left: 10%;
  position: relative;
}
.cardalochilarimg {
  object-fit: cover;
  width: 80%;
  position: absolute;
  height: 400px;
}
.cardalochilarimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 50%;
  border: 10px solid rgb(29, 35, 70);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.cardalochilartxt {
  position: absolute;
  margin-top: 50%;
  background-color: orangered;
  border-radius: 50%;
  height: 270px;
  width: 55%;
  padding: 8%;
  text-align: center;
  border: 10px solid rgb(29, 35, 70);
  margin-left: 30%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.cardalochilartxt h1 {
  font-size: 22px;
  color: #ffffff;
}
.cardalochilartxt p {
  font-size: 24px;
  color: #ffffff;
}
.cardoqituv {
  width: 80%;
  margin-left: 10%;
  position: relative;
}
.cardoqituvimg {
  width: 80%;
  object-fit: cover;
  position: absolute;
  height: 390px;
}
.cardoqituvimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid orangered;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.cardoqituvtxt {
  position: absolute;
  margin-top: 50%;
  background-color: rgb(29, 35, 70);
  border-radius: 50%;
  height: 270px;
  width: 55%;
  padding: 10%;
  text-align: center;
  border: 10px solid orangered;
  margin-left: 30%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.cardoqituvtxt h1 {
  font-size: 21px;
  color: #ffffff;
}
.cardoqituvtxt p {
  font-size: 20px;
  color: #ffffff;
}

.boglanish {
  padding-top: 12%;
  margin-left: 75%;
}
.boglanish p {
  color: #ffffff;
  display: inline;
  padding: 2%;
  font-size: 20px;
}
.telegram {
  width: 70%;
  margin-left: 15%;
}
.telegram pr {
  color: rgb(23, 7, 66);
  font-size: 27px;
  font-weight: 450;
  margin-right: 15%;
}
.telegram p {
  color: rgb(66, 7, 7);
  font-size: 35px;
  display: inline;
}
.telegram pr:hover {
  color: orangered;
}

.asosiy {
  width: 100%;
  height: 800px;
  overflow-y: hidden;

  margin-top: 130px;
  display: flex;
}
.rahbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.asosiy {
  /* background-color: orangered; */
  margin-top: 3%;
  /* background-color: rgba(16, 25, 77, 0.884); */
}
.oyna {
  width: 100%;
  height: 90%;
  /* background-color: rgb(29, 35, 70); */
  background-color: orangered;
  margin-left: 5%;
  display: block;
  padding: 20px;
}
.oyna img {
  margin: auto;

  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oyna h3 {
  margin: auto;
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  margin: 20px;
  margin-top: 0px;
}
.oyna h1 {
  color: #ffffff;
  margin: auto;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

@media (max-width: 1440px) {
  .asosiy {
    width: 100%;
    height: auto;
    margin-top: 110px;
    display: flex;
  }

  .oyna img {
    margin: auto;

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .oyna h3 {
    color: #ffffff;
    font-size: 18px;
  }
  .oyna h1 {
    color: #ffffff;
    font-size: 23px;
  }
}

@media (max-width: 991px) {
  .asosiy {
    width: 100%;

    margin-top: 90px;
    display: block;
  }
  .rahbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .oyna img {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .oyna h3 {
    color: #ffffff;
    font-size: 15px;
  }
  .oyna h1 {
    color: #ffffff;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .rahbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
}

/* Accordion qismi */
.yangili {
  margin-bottom: 10px;
  background-color: rgba(16, 25, 77, 0.884);
  margin-right: 2%;
  width: 30%;
  margin-bottom: 0%;
}
.yangilik {
  margin-top: 5%;
  height: 750px;
  overflow-y: scroll;
}

.yangilik h1 {
  margin: auto;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordionbody {
  color: #000000;
  font-size: 18px;
  background-color: rgba(146, 138, 255, 0.582);
}

@media (max-width: 1440px) {
  .yangilik {
    overflow-y: scroll;
    height: 650px;
  }
}

@media (max-width: 991px) {
  .yangili {
    width: 100%;
    height: 550px;
  }
  .yangilik {
    overflow-y: scroll;
    height: 550px;
  }
}

.foto {
  width: 80%;
  display: flex;
  margin-left: 10%;
}
.foto img {
  height: 350px;
  border-radius: 50%;
  width: 350px;
  border: 10px solid orangered;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.foto img:hover {
  border: 10px solid rgb(29, 35, 70);
}
.cardhayot {
  padding: 5%;
}
.fotobutton button {
  background-color: rgb(29, 35, 70);
  width: 20%;
  height: 50px;
  margin-left: 80%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.fotobutton button a {
  color: white;
  font-size: 18px;
  font-weight: bolder;
}
.fotobutton button:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .qabultext {
    width: 100%;
    background-color: orangered;
    /* height: 700px; */
    margin-left: -10%;
  }

  .qabul {
    width: 100%;
    display: block;
  }
  .qabulimg img {
    width: 100%;
    margin-left: -12%;
  }
  .qabulimg {
    width: 100%;
    height: auto;
  }
  .qabultext p {
    font-size: 15px;
    color: #ffffff;
  }
  .qabultext h2 {
    font-size: 18px;
    color: #ffffff !important;
  }
  .qabulBtn button {
    width: 70%;
    height: 50px;
  }
  .qabulBtn button a {
    font-size: 15px;
  }
  .header {
    height: 700px;
    background-size: 190% 100%;
    width: 100%;
    text-align: center;
  }
  .headertxt h1 {
    width: 100%;
    height: 700px;
    padding-top: 85%;
    font-weight: 700;
  }
  .avtobusgl {
    margin-top: -45%;
  }
  .avtobus {
    width: 100%;
    display: block;
    margin-left: 10%;
  }
  .prezident {
    width: 100%;
    display: block;
  }
  .prezidenttext {
    width: 100%;
    height: 200px;
    margin-top: 80%;
    margin-left: -10%;
  }
  .prezidentimg {
    margin-top: -128%;
  }
  .prezidentimg img {
    width: 78%;
    height: 310px;
    margin-left: 1%;
  }

  .prezidenttext h2 {
    font-size: 18px;
    margin: 6%;
  }
  .prezidenttext h3 {
    font-size: 20px;
    margin-left: 50%;
    margin-top: -3%;
  }
  .avtobustext {
    width: 100%;
    margin-top: 0%;
    margin-left: -10%;
    background-color: rgb(29, 35, 70);
  }
  .avtobusimg img {
    width: 150%;
    margin-left: -10%;
    height: 350px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  }
  .avtobusimg {
    width: 62%;
    height: auto;
  }
  .avtobustext p {
    font-size: 18px;
  }
  .foto {
    margin-left: 4%;
  }
  .fotobutton button {
    width: 200px;
    margin-left: 5%;
  }
  .foto img {
    transition: 1s;
  }
  .foto img:hover {
    border-radius: 7%;
  }
  .cardalochilar {
    width: 100%;
    position: relative;
  }
  .cardalochilarimg {
    object-fit: cover;
    width: 80%;
    position: absolute;
    height: 350px;
  }
  .cardalochilarimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cardalochilartxt {
    margin-top: 60%;
    height: 270px;
    width: 63%;
    padding: 8%;
    margin-left: 20%;
  }
  .cardoqituv {
    width: 80%;
    position: relative;
  }
  .cardoqituvimg {
    object-fit: cover;
    width: 80%;
    position: absolute;
    height: 350px;
  }
  .cardoqituvimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cardoqituvtxt {
    margin-top: 50%;
    border-radius: 50%;
    height: 270px;
    width: 63%;
    padding: 8%;
    margin-left: 20%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  }
  .xarita {
    margin-top: -20%;
  }
  .telegram p {
    display: block;
    width: 70%;
    margin-left: 7%;
  }
}

.caruselAl {
  height: 560px;
  width: 100%;
  position: relative;
  margin-left: 8%;
}
.caruselAl2 {
  height: 560px;
  width: 100%;
  position: relative;
  margin-left: 8%;
}
