.cardinfo {
  width: 90%;
  display: flex;
  margin-left: 5%;
}
.cardinfo img {
  height: 380px;
  width: 300px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sarlavha1 {
  color: rgb(23, 7, 66) !important;
  font-size: 40px !important;
  text-align: center;
  margin-top: 8%;
}
.cardnumber {
  padding: 5%;
}

.cardnumber img {
  width: 100%;
}
.cardinfo img:hover {
  border-radius: 7%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
