/* .hayotgl {
  background-color: rgba(15, 34, 139, 0.795);
} */

.cardinfo {
  width: 90%;
  display: flex;
  margin-left: 5%;
}
.cardinfo img {
  height: 380px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid orangered;
  transition: 1s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sarlavha1 {
  color: rgb(29, 35, 70) !important;
  font-size: 50px !important;
  text-align: center;
  margin-top: 8%;
}
.cardnumber {
  padding: 5%;
}

.cardnumber img {
  width: 100%;
}
.cardinfo img:hover {
  border-radius: 7%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 10px solid rgb(29, 35, 70);
}
@media (max-width: 600px) {
  .cardinfo img {
    border-radius: 7%;
    transition: 0.2s;
    height: 330px;
  }
}
@media screen and (max-width: 900px) {
  .cardinfo img {
    border-radius: 7%;
    transition: 0s;
    width: 350px;
    height: 350px;
  }
  .cardinfo {
    margin-left: 1%;
  }
}
@media screen and (min-width: 901px) {
  .cardinfo img {
    width: 350px;
    height: 350px;
  }
  .cardinfo {
    margin-left: 6%;
  }
}
