.navcontainer * {
  color: rgb(23, 7, 66);
}
.navcontainer ul {
  list-style: none;
  display: flex;
  margin: 0;
}
.navcontainer li {
  padding: 2%;
  font-size: 20px;
  font-weight: 500;
}

.container2 {
  background-color: #1c1b3b;
  width: 100%;
  padding: 20px 50px;
}
.container2 h1 {
  color: grey;
  font-size: 1.3rem;
  display: flex;
}
